BODY {SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #666666; SCROLLBAR-SHADOW-COLOR: #666666; 
      SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; 
      SCROLLBAR-DARKSHADOW-COLOR: #ffffff}

TD {FONT-SIZE: 9pt; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; TEXT-DECORATION: none}
A:link {FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; TEXT-DECORATION: none}
A:visited {FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none}
A:active {FONT-SIZE: 9pt; COLOR: #0074c5; TEXT-DECORATION: none}
A:hover {FONT-SIZE: 9pt; COLOR: #0074c5; TEXT-DECORATION: underline}

/* ÄÁÅÙÃ÷ ºí·ç */
.con_01 {FONT-SIZE: 9pt; COLOR: #18387D; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; font-weight: bold}
.con_01 A:link {FONT-SIZE: 9pt; COLOR: #18387D;}
.con_01 A:visited {FONT-SIZE: 9pt; COLOR: #18387D; TEXT-DECORATION: none}
.con_01 A:active {FONT-SIZE: 9pt; COLOR: #18387D; TEXT-DECORATION: underline}
.con_01 A:hover {FONT-SIZE: 9pt; COLOR: #18387D; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; TEXT-DECORATION: underline}
}

/* ÄÁÅÙÃ÷ Èò»ö_9pt */
.con_02 {FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; font-weight: bold}
.con_02 A:link {FONT-SIZE: 9pt; COLOR: #ffffff;}
.con_02 A:visited {FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none}
.con_02 A:active {FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: underline}
.con_02 A:hover {FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; TEXT-DECORATION: underline}

/* ÄÁÅÙÃ÷ Èò»ö_11pt */
.con_03 {FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; font-weight: bold}
.con_03 A:link {FONT-SIZE: 11pt; COLOR: #ffffff;}
.con_03 A:visited {FONT-SIZE: 11pt; COLOR: #ffffff; TEXT-DECORATION: none}
.con_03 A:active {FONT-SIZE: 11pt; COLOR: #ffffff; TEXT-DECORATION: underline}
.con_03 A:hover {FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"; TEXT-DECORATION: underline}

/* input¹Ú½º */
.input {BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; 
        COLOR: #464646; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff}

.input_int {BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; 
        COLOR: #464646; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff;text-align:right}


.input_zb {BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 0x solid; border: 0px solid;
        COLOR: #464646; BORDER-BOTTOM: #999999 0px solid; BACKGROUND-COLOR: #ffffff}

.input_zb1 { border: 0px; COLOR: #FFFFFF; background-color:transparent; font-weight:BOLD;}

/* textarea */
.textarea {BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #d0d0d0 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #d0d0d0 1px solid; 
           COLOR: #464646; LINE-HEIGHT: 17px; BORDER-BOTTOM: #d0d0d0 1px solid; BACKGROUND-COLOR: #ffffff}

.textarea_zb {BORDER-RIGHT: #d0d0d0 0px solid; BORDER-TOP: #d0d0d0 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: #d0d0d0 0px solid; border: 0px solid;
           COLOR: #464646; LINE-HEIGHT: 17px; BORDER-BOTTOM: #d0d0d0 0px solid; BACKGROUND-COLOR: #ffffff}

/* Å×ÀÌºíÇü½Ä */
.table_01 {background-color:#DADADA; border : solid 1 DADADA;}
.table_01 tr{background-color:#ffffff; font-weight:BOLD; FONT-SIZE: 11pt;}

/* fontsize8 */
.8point {FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial";}
.9point {FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial";}

SELECT {FONT-SIZE: 11pt; MARGIN-BOTTOM: -2px; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"}
INPUT {FONT-SIZE: 9pt; MARGIN-BOTTOM: -2px; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"}
TEXTAREA {FONT-SIZE: 9pt; MARGIN-BOTTOM: -2px; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"}
FORM {FONT-SIZE: 9pt; MARGIN-BOTTOM: -2px; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"}
INPUT {FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "±¼¸²", "±¼¸²Ã¼", "Arial"}


.s1-disable-tab {position:absolute;height:0; width:0; visibility:hidden; z-index:-1}

.s1-enable-tab  {position:absolute; 

				BACKGROUND-COLOR: #ffffff;  border-width:0; visibility:visible; z-index:0}

object.objcls1  {height:17px; border:#999999 solid 1pt; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid;  BORDER-LEFT: #999999 1px solid;COLOR: #464646; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff; }
object.objcls2  {height:17px; border:#999999 solid 1pt; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid;  BORDER-LEFT: #999999 1px solid;COLOR: #464646; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff; vertical-align: middle;}
object.objcls_zb  {height:17px; border:#999999 solid 0pt; BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid;  BORDER-LEFT: #999999 0px solid;COLOR: #464646; BORDER-BOTTOM: #999999 0px solid; BACKGROUND-COLOR: #ffffff; vertical-align: bottom;}

input.ym_img
{
    POSITION: ABSOLUTE;
 	BACKGROUND-IMAGE: url(ka_cal.gif);
    HEIGHT: 18px;
	WIDTH: 20px;
	CURSOR: hand;
	BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: repeat
}
.sub a        {font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 9pt;	color: #333333;text-decoration: none;}
.sub a:hover  {font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 9pt;color: #009999;text-decoration: underline;}
.sub          {font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 9pt;color: #333333;text-decoration: none;}
.sub-name     {font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 9pt;font-weight: bold;	color: #0000FF;text-decoration: none;}
.util a       {font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 11px;color: #ffffff;text-decoration: none;	font-weight: bold;}
.util a:hover {	font-family: "±¼¸²", "±¼¸²Ã¼";font-size: 11px;color: #ffffff;	text-decoration: none;}
.tit-big      {font-family: "±¼¸²", "±¼¸²Ã¼";	font-size: 13px;font-weight: bold;	color: #009997;	text-decoration: none;}
.tit-sm       {font-family: "±¼¸²", "±¼¸²Ã¼";  font-size: 12px;	color: #747474;	text-decoration: none;}


/* ÆùÆ® Ä®¶ó Á¤ÀÇ 2003.10.14 ½Å¼ö¿¬ Ãß°¡*/
.f_blue		{ color : #6699CC }
.f_blueB	{ color : #6699CC ; font-weight : bold }

.f_pink		{ color : #FF6699 }
.f_pinkB	{ color : #FF6699 ; font-weight : bold }

/*Å×ÀÌºí Á¤ÀÇ*/
.table_s	{ border-collapse : collapse }
.table_s td	{ border : 1px solid #c8c8c8 }