
body {
	font-family:  "굴림", "Arial"; 
	font-size: 12px; 
	color: #353535; 
	line-height:16px;
}

input{FONT-SIZE: 12px}

/* 스크롤바 스타일 설정 */
body { scrollbar-face-color:#E7E7E7; scrollbar-shadow-color:#FFFFFF; scrollbar-highlight-color:#FFFFFF; scrollbar-3dlight-color:#C9C9C9; 
	   scrollbar-darkshadow-color:#6C6C6C; scrollbar-track-color:#EFEFEF; scrollbar-arrow-color:#039090; }

/* 메인 DIV 설정 */
.main_div	{ OVERFLOW:auto; WIDTH:100%; HEIGHT:100%; padding:5px 5px 5px 5px; }

/* 메뉴 TABLE 설정 */
.main_table { width: 100%; height: 100%; 
              cellspacing: 0px; padding: 0px; 
              table-layout:fixed; }

td {	color : #353535 ; 
	Font-Family: "굴림", "Arial"; 
	Font-Size: 12px; 
	Line-height:16px; 
	text-decoration: none; 
	word-break:break-all;}
/* ----------------------------------------------표준 이미지 버튼 스타일*/
.img_btn2_1		{ cursor:hand; background:url(image/btn2_1.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn3_1		{ cursor:hand; background:url(image/btn3_1.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn4_1		{ cursor:hand; background:url(image/btn4_1.gif); height:18px; width:74px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn5_1		{ cursor:hand; background:url(image/btn5_1.gif); height:18px; width:86px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn6_1		{ cursor:hand; background:url(image/btn6_1.gif); height:18px; width:98px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn7_1		{ cursor:hand; background:url(image/btn7_1.gif); height:18px; width:110px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn8_1		{ cursor:hand; background:url(image/btn8_1.gif); height:18px; width:122px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn9_1		{ cursor:hand; background:url(image/btn9_1.gif); height:18px; width:134px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn10_1	{ cursor:hand; background:url(image/btn10_1.gif); height:18px; width:146px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn11_1	{ cursor:hand; background:url(image/btn11_1.gif); height:18px; width:158px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn12_1	{ cursor:hand; background:url(image/btn12_1.gif); height:18px; width:170px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn13_1	{ cursor:hand; background:url(image/btn13_1.gif); height:18px; width:182px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn14_1	{ cursor:hand; background:url(image/btn14_1.gif); height:18px; width:194px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn15_1	{ cursor:hand; background:url(image/btn15_1.gif); height:18px; width:206px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn16_1	{ cursor:hand; background:url(image/btn16_1.gif); height:18px; width:218px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn17_1	{ cursor:hand; background:url(image/btn17_1.gif); height:18px; width:230px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn18_1	{ cursor:hand; background:url(image/btn18_1.gif); height:18px; width:242px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn19_1	{ cursor:hand; background:url(image/btn19_1.gif); height:18px; width:254px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btn20_1	{ cursor:hand; background:url(image/btn20_1.gif); height:18px; width:266px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------찾기 버튼 스타일*/
.img_btnFind    { cursor:hand; background:url(image/btnFind.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnFind_S  { cursor:hand; background:url(image/btnFind_s.gif); height:18px; width:20px; padding-left:12px;	padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------표준 버튼 스타일*/
.btn		{ cursor:hand; background:#D4D0C8; height:18px; width:40px; border-width:1px; border-style:solid; border-color:#CCCCCC #000000 #000000 #CCCCCC; font-size:12px; }
.btn60		{ cursor:hand; background:#D4D0C8; height:18px; width:60px; border-width:1px; border-style:solid; border-color:#CCCCCC #000000 #000000 #CCCCCC; font-size:12px; }


/* ----------------------------------------------달력 버튼 스타일*/
.img_btnCalendar_S	{ cursor:hand; background:url(image/btnCalendar_s.gif);	height:18px; width:20px; padding-left:12px;	padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------확인 버튼 스타일*/
.img_btnOk			{ cursor:hand; background:url(image/btnOk.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnOk3			{ cursor:hand; background:url(image/btnOk3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------닫기 버튼 스타일*/
.img_btnClose		{ cursor:hand; background:url(image/btnClose.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnClose3		{ cursor:hand; background:url(image/btnClose3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------취소 버튼 스타일*/
.img_btnCancel		{ cursor:hand; background:url(image/btnCancel.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnCancel3		{ cursor:hand; background:url(image/btnCancel3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------보고서 버튼 스타일*/
.img_btnRpt2_1		{ cursor:hand; background:url(image/btnRpt2_1.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt3_1		{ cursor:hand; background:url(image/btnRpt3_1.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt4_1		{ cursor:hand; background:url(image/btnRpt4_1.gif); height:18px; width:74px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt5_1		{ cursor:hand; background:url(image/btnRpt5_1.gif); height:18px; width:86px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt6_1		{ cursor:hand; background:url(image/btnRpt6_1.gif); height:18px; width:98px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt7_1		{ cursor:hand; background:url(image/btnRpt7_1.gif); height:18px; width:110px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt8_1		{ cursor:hand; background:url(image/btnRpt8_1.gif); height:18px; width:122px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt9_1		{ cursor:hand; background:url(image/btnRpt9_1.gif); height:18px; width:134px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt10_1	{ cursor:hand; background:url(image/btnRpt10_1.gif); height:18px; width:146px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt11_1	{ cursor:hand; background:url(image/btnRpt11_1.gif); height:18px; width:158px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt12_1	{ cursor:hand; background:url(image/btnRpt12_1.gif); height:18px; width:170px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt13_1	{ cursor:hand; background:url(image/btnRpt13_1.gif); height:18px; width:182px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt14_1	{ cursor:hand; background:url(image/btnRpt14_1.gif); height:18px; width:194px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt15_1	{ cursor:hand; background:url(image/btnRpt15_1.gif); height:18px; width:206px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt16_1	{ cursor:hand; background:url(image/btnRpt16_1.gif); height:18px; width:218px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt17_1	{ cursor:hand; background:url(image/btnRpt17_1.gif); height:18px; width:230px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt18_1	{ cursor:hand; background:url(image/btnRpt18_1.gif); height:18px; width:242px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt19_1	{ cursor:hand; background:url(image/btnRpt19_1.gif); height:18px; width:254px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }
.img_btnRpt20_1	{ cursor:hand; background:url(image/btnRpt20_1.gif); height:18px; width:266px; padding-left:12px; padding-top:2px; border-width:0px; font-size:12px; }

/* ----------------------------------------------TD에 연두색 바탕깔때 */
.td_green	{ background:#DCF2EC; }

/*---------------------------------------------- 폰트 스타일 */
/*그린 일반폰트*/
.font_green			{ color:#006666; }

/*서브타이틀 폰트 (그린볼드)*/
.font_green_bold	{ color:#006666; font-weight:bold; }

/*타이틀 폰트(대글자)*/
.title_default		{ font-family:굴림체; font-size:14px; color:#FFFFFF; text-decoration:none; font-weight:bold; }

/*타이틀 폰트(대글자)*/
.title_body		{ font-family:굴림체; font-size:14px; color:#006666; text-decoration:none; font-weight:bold; }

/*alert 폰트(중글자)*/
.alert_default	{ font-family:굴림체; font-size:13px; color:#FFFFFF; text-decoration:none; font-weight:bold; }

.emedit			{ font-family:굴림체; font-size:9pt; line-height:120%; color:#666666; border-width:1pt; border-style:solid; margin:0px; border-color:#CCCCCC; }
.emedit_ro		{ font-family:굴림체; font-size:9pt; line-height:120%; color:#666666; background:#EFEFEF; border-width:1pt; border-style:solid; margin:0px;	border-color:#CCCCCC; }

