/*----------------------------------------------기본 */
/*기본 폰트 */
body { font-family:굴림체; font-size:12px; color:#000000; line-height:16px; margin:0px 0px 0px 0px; }

/* 스크롤바 스타일 설정 */
body { scrollbar-face-color:#E7E7E7; scrollbar-shadow-color:#FFFFFF; scrollbar-highlight-color:#FFFFFF; scrollbar-3dlight-color:#C9C9C9; 
	   scrollbar-darkshadow-color:#6C6C6C; scrollbar-track-color:#EFEFEF; scrollbar-arrow-color:#039090; }

/* 메인 DIV 설정 */
.main_div	{ OVERFLOW:auto; WIDTH:100%; HEIGHT:100%; padding:7px 7px 7px 7px; }

/*--------------------------------------- Left Navigation*/
/* Left Navigation */
.left_menu { font-family:굴림체; font-size:12px; color:#333333; text-decoration:none; }
.left_menu a:link { text-decoration:none; color:#333333; }
.left_menu a:visited { text-decoration:none; color:#333333; }
.left_menu a:active { text-decoration:none; color:#333333; }
.left_menu a:hover { text-decoration:none; color:red; }

/* Left Navigation 폴더구조 1depth menu */
.left_menu_1depth { font-family:굴림체; font-size:12px; color:#666666; text-decoration:none; font-weight:bold; }
.left_menu_1depth a:link	{ text-decoration:none; color:#6699CC; }
.left_menu_1depth a:visited { text-decoration:none; color:#666666; }
.left_menu_1depth a:active	{ text-decoration:none; color:#6699CC; }
.left_menu_1depth a:hover	{ text-decoration:none; color:#6699CC; }

.left_td { font-family:굴림체; font-size:12px; color:#333333; line-height:16px; }
a:link 		{ text-decoration:none; color:red; }
a:visited	{ text-decoration:none; color:#000000; }
a:active	{ text-decoration:underline; color:red; }
a:hover		{ text-decoration:underline; color:red; }

/*----------------------------------------------이미지, 입력란, 선택란, 텍스트 입력 요소 크기 */
img			{ border:none; }
input		{ font-family:굴림체; font-size:12px; line-height:120%;	border:solid 1px #BBB; } /* 기본크기는 85px */
select		{ font-family:굴림체; font-size:12px; line-height:120%;	border:solid 1px #BBB; }
textarea	{ font-family:굴림체; font-size:12px; line-height:120%;	border:solid 1px #BBB; }

/* ----------------------------------------------이미지 버튼일때 */
img.ibtn	{ cursor:hand; } 

/* ----------------------------------------------표준 이미지 버튼 스타일*/
.img_btn2_1		{ cursor:hand; background:url(../images/btn2_1.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn3_1		{ cursor:hand; background:url(../images/btn3_1.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn4_1		{ cursor:hand; background:url(../images/btn4_1.gif); height:18px; width:74px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn5_1		{ cursor:hand; background:url(../images/btn5_1.gif); height:18px; width:86px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn6_1		{ cursor:hand; background:url(../images/btn6_1.gif); height:18px; width:98px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn7_1		{ cursor:hand; background:url(../images/btn7_1.gif); height:18px; width:110px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn8_1		{ cursor:hand; background:url(../images/btn8_1.gif); height:18px; width:122px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn9_1		{ cursor:hand; background:url(../images/btn9_1.gif); height:18px; width:134px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn10_1	{ cursor:hand; background:url(../images/btn10_1.gif); height:18px; width:146px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn11_1	{ cursor:hand; background:url(../images/btn11_1.gif); height:18px; width:158px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn12_1	{ cursor:hand; background:url(../images/btn12_1.gif); height:18px; width:170px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn13_1	{ cursor:hand; background:url(../images/btn13_1.gif); height:18px; width:182px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn14_1	{ cursor:hand; background:url(../images/btn14_1.gif); height:18px; width:194px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn15_1	{ cursor:hand; background:url(../images/btn15_1.gif); height:18px; width:206px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn16_1	{ cursor:hand; background:url(../images/btn16_1.gif); height:18px; width:218px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn17_1	{ cursor:hand; background:url(../images/btn17_1.gif); height:18px; width:230px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn18_1	{ cursor:hand; background:url(../images/btn18_1.gif); height:18px; width:242px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn19_1	{ cursor:hand; background:url(../images/btn19_1.gif); height:18px; width:254px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btn20_1	{ cursor:hand; background:url(../images/btn20_1.gif); height:18px; width:266px; padding-left:12px; padding-top:2px; border-width:0px; }

/* ----------------------------------------------표준 버튼 스타일*/
.btn		{ cursor:hand; background:#D4D0C8; height:18px; width:40px; border-width:1px; border-style:solid; border-color:#CCCCCC #000000 #000000 #CCCCCC; }
.btn60		{ cursor:hand; background:#D4D0C8; height:18px; width:60px; border-width:1px; border-style:solid; border-color:#CCCCCC #000000 #000000 #CCCCCC; }

/* ----------------------------------------------찾기 버튼 스타일*/
.img_btnFind    { cursor:hand; background:url(../images/btnFind.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btnFind_S  { cursor:hand; background:url(../images/btnFind_s.gif); height:18px; width:20px; padding-left:12px;	padding-top:2px; border-width:0px; }

/* ----------------------------------------------달력 버튼 스타일*/
.img_btnCalendar_S	{ cursor:hand; background:url(../images/btnCalendar_s.gif);	height:18px; width:20px; padding-left:12px;	padding-top:2px; border-width:0px; }

/* ----------------------------------------------확인 버튼 스타일*/
.img_btnOk			{ cursor:hand; background:url(../images/btnOk.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btnOk3			{ cursor:hand; background:url(../images/btnOk3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; }

/* ----------------------------------------------닫기 버튼 스타일*/
.img_btnClose		{ cursor:hand; background:url(../images/btnClose.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btnClose3		{ cursor:hand; background:url(../images/btnClose3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; }

/* ----------------------------------------------취소 버튼 스타일*/
.img_btnCancel		{ cursor:hand; background:url(../images/btnCancel.gif); height:18px; width:50px; padding-left:12px; padding-top:2px; border-width:0px; }
.img_btnCancel3		{ cursor:hand; background:url(../images/btnCancel3.gif); height:18px; width:62px; padding-left:12px; padding-top:2px; border-width:0px; }

/*---------------------------------------------- 폼태그 스타일 */
/* 텍스트필드폼 READ ONLY */
input.ro		{ color:#666666; background:#EFEFEF; }

/* 텍스트필드폼 KEY */
input.key		{ background:#D6E6F3; }

/* 텍스트필드폼 NotNull */
input.notnull	{ background:#F5F5DC; }

/* 텍스트필드폼 LOV */
input.lov		{ background:#E7D576; }

/* 텍스트에어리아 READ ONLY */
textarea.ro  	{ color:#666666; background:#EFEFEF; }
}

/* 텍스트필드폼-숫자  READ ONLY */
input.ro-digit  { color:#666666; background:#EFEFEF; text-align:right; }

/* 텍스트필드폼-숫자 */
input.digit		{ text-align:right; }

/* 체크박스폼 */
input.check		{ cursor:hand; border:none; width:18px; }

/* 라디오버튼폼 */
input.radio		{ cursor:hand; border:none; width:18px; }

/*---------------------------------------------- HTML 리스트 스타일 그리드 대용시 사용 */
tr.head_line    { height:1px; background:#ADD8D8; }
tr.head_body    { height:24px; background:#e9e9f3; }
tr.list_title   { height:24px; background:#adceff; cursor:default; }
tr.list_row     { padding:2 0 0 0px; cursor:hand; }
tr.list_normal  { padding:2 0 0 0px; }
tr.list_reverse { padding:2 0 0 0px; background:#E5E5E5; }
tr.list_total   { padding:2 0 0 0px; background:OldLace; }

/* ----------------------------------------------기본 TD 스타일 */
td			{ font-size:12px; text-decoration:none; }

/* ----------------------------------------------TD에 연두색 바탕깔때 */
.td_green	{ background:#DCF2EC; }

/*---------------------------------------------- 폰트 스타일 */
/*그린 일반폰트*/
.font_green			{ color:#006666; }

/*서브타이틀 폰트 (그린볼드)*/
.font_green_bold	{ color:#006666; font-weight:bold; }

/*타이틀 폰트(대글자)*/
.title_default		{ font-family:굴림체; font-size:14px; color:#FFFFFF; text-decoration:none; font-weight:bold; }

/*타이틀 폰트(대글자)*/
.title_body		{ font-family:굴림체; font-size:14px; color:#006666; text-decoration:none; font-weight:bold; }

/*alert 폰트(중글자)*/
.alert_default	{ font-family:굴림체; font-size:13px; color:#FFFFFF; text-decoration:none; font-weight:bold; }

.emedit			{ font-family:굴림체; font-size:9pt; line-height:120%; color:#666666; border-width:1pt; border-style:solid; margin:0px; border-color:#CCCCCC; }
.emedit_ro		{ font-family:굴림체; font-size:9pt; line-height:120%; color:#666666; background:#EFEFEF; border-width:1pt; border-style:solid; margin:0px;	border-color:#CCCCCC; }